Source: osaro-amazing-git
Section: python
Priority: extra
Maintainer: norman ponte <nponte@osaro.com>
Build-Depends: 
  debhelper (>= 9), 
  python2.7-minimal,
  dh-virtualenv,
  dh-python,
  build-essential
Standards-Version: 3.9.5

Package: osaro-amazing-git
Architecture: any
Depends: 
  ${python:Depends}, ${misc:Depends},
  python2.7-minimal
Description: sets up s3 as remote repository
 sets up s3 as remote repository
